body {
    margin: 20px;
    line-height: 1;
}
h2 {
    font-weight: normal;
    font-size: 25px;
    font-family: Georgia;
    margin: 20px;
    color: dark;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 35px;
    color: dark;
    font-family: Georgia;
    font-weight: bold;
}
small {
    font-weight: bold;

}


